body {
    background: url('https://upload3.inven.co.kr/upload/2025/10/16/bbs/i1498551879.jpg') no-repeat top center;    
}
#myLayout {
    /* background-color: cornflowerblue; */
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#top {
    /* background-color: rgb(255, 255, 255); */
    width : 1600px; height: 160px;
}
#left {
    background-color: rgb(179, 176, 172);
    width : 200px; height : 800px;
    float: left;
}
#mid {
    background-color: rgb(0, 0, 0);
    width: 1200px; height : 800px;
    float: left;
}
#right {
    background-color: rgb(74, 142, 74);
    width: 200px; height : 800px;
    float: left;
}
#bot {
    background-color: blue; 
    width: 1600px; height: 200px;
    position: fixed;
    bottom: 10px;

    font-size: 0.8em;
    color: gray; 
}


#top_left{
    /* background-color: rgb(31, 43, 64); */
    position:absolute;    
}

    #logo {
        width: 200px; height: 100px; margin: 10px;
        float: left;
    }
    #homepage_name {
        font-size: 1.2em; font-style: italic; font-weight: 600;
        color :brown;
        float: left;
        margin-top: 60px;
    }
#nav {
    /* background-color: rgb(21, 26, 86);  */
    width: 1600px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#top_banner {
    width: 1600px; 
    height: 120px;  
    text-align: center;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}


#login {
    width: 160px;
    height: 80px;
    background-color: rgb(120, 127, 120);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}

    #login_id {
        width: 80px;
    }

    #login_pw {
        width: 80px;
    }

#board {
    background-color: rgb(75, 107, 162);
    width : 160px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;    
}    

    .board_title {
        color:rgb(22, 78, 95);
        font-size: 1.2em;
        font-weight: 600;
        font-style: italic;
        text-align: center;        
    }

#proud {
    background-color: rgb(197, 216, 98);
    width : 160px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;   

}

.mid_img_box {
    width:200px;
    height: 200px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(59, 222, 219);
}

.right_banner {
    width: 160px;    
}
